<IfModule mod_rewrite.c>
  RewriteEngine On

  # перенаправление всех запросов на главную страницу
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>